<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center">Types of Pokemon</h1>

    <% @types.each do | type |%>
      <div class="col-4 col-lg-2">
        <p><%= link_to type.name, type_path(type)%></p>
      </div>
    <% end %>
  </div>
</div>

<%# <div class="d-flex justify-content-center">
  <%= paginate @types %>
<%# </div> %>