<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center"><%= @type.name %></h1>
    <h2 class="text-center">Pokemon who are this Type:</h2>

    <% @type.pokemons.each do | pokemon |%>
      <div class="col-4 col-lg-2">
        <p><%= link_to pokemon.name, pokemon_path(pokemon) %></p>
      </div>
    <% end %>
</div>