<h1><%= @move.name %></h1>


<h2>Pokemon who can learn this move:</h2>
<ul>
  <% @move.pokemons.each do | pokemon |%>
    <li>
      <p><%= link_to pokemon.name, pokemon_path(pokemon) %></p>
    </li>
  <% end %>
</ul>